* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(img/planets/bg3.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.planet {
    -webkit-box-shadow: 0px 0px 8px 11px rgba(253, 7, 237, 0.235);
    box-shadow: 0px 0px 8px 11px rgba(39, 38, 39, 0.2);
    border-radius: 1%;
    background-image: url(./img/planets/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    justify-content: space-around;
    align-content: space-around;
    height: 900px;
    width: 1200px;
    grid-template-rows: 400px 200px auto;
    grid-template-areas:
        'space space space'
        'poly gas metal'
        'ground ground ground'
    ;
}

.space {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: start;
    grid-area: space;


}

.gas {
    padding-top: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
    grid-area: gas;

}

.poly {
    padding-top: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    grid-area: poly;
}

.metal {
    padding-top: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    grid-area: metal;
}

.ground {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    grid-area: ground;
}

.cell {
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    width: 130px;
    height: 60px;
    border-radius: 50% 50%;
    transition: scale 0.5s;
    margin: 15px;
}

.cell:hover {
    scale: 1.1;
}

.polimerMiner {
    margin: 10px;
    -webkit-box-shadow: 0px 0px 8px 11px rgba(7, 225, 253, 0.444);
    box-shadow: 0px 0px 8px 11px rgba(7, 225, 253, 0.444);
}

.metalMiner {
    -webkit-box-shadow: 0px 0px 8px 11px rgba(147, 85, 41, 0.444);
    box-shadow: 0px 0px 8px 11px rgba(147, 85, 41, 0.444);
}

.spaceBuildings {
    -webkit-box-shadow: 0px 0px 8px 11px rgba(46, 10, 248, 0.444);
    box-shadow: 0px 0px 8px 11px rgba(46, 10, 248, 0.444);
}

.groundBuildings {
    -webkit-box-shadow: 0px 0px 8px 11px rgba(2, 249, 117, 0.444);
    box-shadow: 0px 0px 8px 11px rgba(2, 249, 117, 0.444);
}

.gasMiner {
    -webkit-box-shadow: 0px 0px 8px 11px rgba(249, 6, 241, 0.444);
    box-shadow: 0px 0px 8px 11px rgba(249, 6, 241, 0.444);
}
.p{
        height: 25px;
        width: 1200px;
        background-color: white;
        border-radius: 10px;
        border: 1px solid black;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
}